.app-container {
  margin: 1rem;
  display: flex;
  border: 1px solid black;
}

.right-section {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid black;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: thin;
}

.conversation {
  cursor: pointer;
  padding: 0.5rem 0;
  color: blue;
  text-decoration: underline;
}

.message-list {
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  padding: 0.5rem;
}
